.header {
    &__top {
        padding: 25px 0;
        background-color: $headerBgColor;

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-btn {
            padding: 12px 20px;
            background-color: $white;
            border-radius: 14px;

            & a {
                color: $black;
                letter-spacing: 0.4px;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    &__burger-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        gap: 31px;
    }

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 31px;
    }

    &__menu-link {
        font-size: 15px;
        line-height: 20px;
        color: $white;
    }

    &__burger-btn {
        display: none;
    }

    &__content {
        height: calc(100vh - 94.8px);
        background-image: url(../images/header__bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .photo-description {
        position: absolute;
        content: "";
        bottom: 5%;
        right: 5%;

        &__item {
            font-size: 12px;
            line-height: 12px;
            color: $white;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                left: 0%;
            }
        }

        &__list {
            display: flex;
            gap: 16px;

            & .photo-description__item:nth-child(1) {
                padding-left: 22px;
                &::before {
                    width: 16px;
                    height: 16px;
                    background-image: url(../images/photo__description-icon\ 1.svg);
                }
            }
            & .photo-description__item:nth-child(2) {
                padding-left: 22px;
                &::before {
                    width: 16px;
                    height: 16px;
                    background-image: url(../images/photo__description-icon\ 2.svg);
                }
            }
            & .photo-description__item:nth-child(3) {
                padding-left: 39px;
                &::before {
                    width: 32px;
                    height: 16px;
                    background-image: url(../images/photo__description-icon\ 3.svg);
                }
            }
            & .photo-description__item:nth-child(4) {
                padding-left: 21px;
                &::before {
                    width: 15px;
                    height: 16px;
                    background-image: url(../images/photo__description-icon\ 4.svg);
                }
            }
        }
    }

    &__inner {
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 94.8px);
        padding-bottom: 80px;
    }

    &__overhead {
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__title {
        font-size: 54px;
        line-height: 59px;
        margin-bottom: 18px;
        color: $white;
    }

    &__text {
        max-width: 580px;
    }
}

@media (max-width: 850px) {
    .header {
        overflow: hidden;

        &__content{
            height: calc(100vh - 81px);
        }
        &__top {
            position: relative;
        }

        &__burger-menu {
            position: absolute;
            content: "";
            right: -1%;
            top: 0%;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 20px;
            z-index: 2;
            background-color: $black;
            width: 40%;
            padding-top: 15%;
            // padding-left: 50%;
            // padding-right: 30%;
            height: 100vh;
            width: 60%;
            transform: translateX(100%);
            transition: $transition;
            &--active {
                transform: translate(0);
                transition: $transition;
            }
        }

        &__burger-btn {
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;
            &::after,
            &::before,
            & span {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: $white;
            }

            &::after {
                top: 0%;
                transition: $transition;
            }

            &::before {
                bottom: 0%;
                transition: $transition;
            }

            & span {
                top: 46%;
            }

            &--active::after {
                transform: rotate(-50deg);
                transition: $transition;
                top: 45%;
            }

            &--active::before {
                transform: rotate(50deg);
                bottom: 50%;
                transition: $transition;
            }

            &--active span {
                transform: scale(0);
            }
        }

        &__menu-list {
            flex-direction: column;
            align-items: center;
            gap: 20px;
            justify-content: end;
        }
    }
}

@media (max-width: 600px) {
    .header {

        &__title{
            font-size: 40px;
            line-height: 35px;
        }
        &__text,
        &__overhead{
            font-size: 10px;
            line-height: 15px;
        }
    }
}
