.tools {
    background-image: url(../images/tools__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    padding-top: 173px;
    padding-bottom: 153px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    

    &__overhead {
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &__title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 14px;
        color: $white;
    }

    &__text{
        max-width: 514px;
        margin-bottom: 20px;
    }

    & .section__btn{
        max-width: 152px;
    }
}

.advance__container{
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
}

@media (max-width: 1250px) {
    .tools{
        background-image: url(../images/tools__img.jpg);
    }
}
@media (max-width: 500px) {
    .tools{
        &__text{
            font-size: 10px;
            line-height: 15px;
        }
    }
}
